@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');sd

* {
    box-sizing: border-box;
  }

  :root {
    --dark: #090909;
    --light: #C9CEBD;
    --dkgrey: #090909;
    --accent1: #A32900;
    --accent1dark: #570000;
    --accent2: #6699CC;
  }

  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Secular One', sans-serif;
    overflow-x: hidden;
  }

  html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  section::-webkit-scrollbar {
    display: none;
  }

  section .content{
    max-height: 80%;
    position: relative;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    margin-left: 3%;
  }


  .floating-menu {
    font-family: sans-serif;
    padding: 5px;
    width: 130px;
    z-index: 100;
    position: fixed;
    left:3%;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
  }

  .floating-menu a{
    display: inline-block;  
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
  .floating-menu a:link{
    text-decoration:none;
    color: var(--accent1);
  }

  .floating-menu a:visited{
    color: var(--accent1);
  }


  .floating-menu a:hover{
    color: var(--accent1dark);
  }

  .heading {  
    left:3%;
    padding: 2%;
    z-index: 100;
    position: fixed;
    top: 10%;
    text-align: center;
    align-items: center;
  }

  .shine{
    font-family: 'Secular One';
    position: absolute;
    padding: 12px 48px;
    transform: translateX(-15%);
    color: #ffffff;
    background: linear-gradient(to right, var(--accent1) 0, var(--accent1dark) 10%, var(--accent1) 20%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
  }
   
  @keyframes shine{
  0%{
    background-position: 0;
  }
  60%{
    background-position: 180px;
  }
  100%{
    background-position: 180px;
  }
}

h2 {
  color: var(--accent1);
  margin-bottom:0;
}

h1{
  color: var(--light);
  font-size: 400%;
  margin: 0;
  margin-bottom: 3%;
}

h3{
  color: var(--accent1dark);
  margin-bottom: 5%;
}


h4{
  color: var(--accent1);
}

h5{
  color: var(--accent1dark);
  font-size:medium;
  padding-top: none;
}

.parent{
  display: flex;
  position: relative;
  height: 70%;
}

.parent div{
  text-align: left;
  height: 100%;
}

.ml-3{
  margin-left: 3%;
}

.mw-30{
  max-width: 30%;
}


#gradesLink{
  color:var(--accent1);
  cursor: pointer;
}

.between{
  justify-content: space-between;
}

.around{
  justify-content: space-around;
}

.evenly{
  justify-content: space-evenly;
}

.evenly div{
  margin: 0;
}

.modal-dialog {
  width: fit-content;
  max-width: 80%;
}

.modal-dialog td{
  padding-right: 5%;
  vertical-align: top;
}

.modal-dialog h4{
  color: var(--accent1);
}

.modal-content{
  background-color: var(--dkgrey);
}

.modal-dialog .parent div{
  margin: 0% 5%;
}

h1.modal-title{
  margin-top: 1%;
  color: var(--light);
}

.modal-header{
  border:none;
}

.modal-content hr{
  margin:0%;
}

li{
  width: fit-content;
}

.custom-tooltip {
  --bs-tooltip-bg: black;
  --bs-tooltip-color: var(--light);
  --bs-tooltip-opacity: 90%;
  --bs-tooltip-max-width: none;
}

.half{
  max-width: 45%;
}

#fragment1
{
		    -webkit-animation: frag 25s steps(50, end) 0s infinite;
		    animation: frag 25s steps(50, end) 0s infinite;
}

#fragment2
{
		    -webkit-animation: frag 25s steps(50, end) 5s infinite;
		    animation: frag 25s steps(50, end) 5s infinite;
}

#fragment3
{
		    -webkit-animation: frag 25s steps(50, end) 5s infinite;
		    animation: frag 25s steps(50, end) 10s infinite;
}

#fragment4
{
		    -webkit-animation: frag 25s steps(50, end) 5s infinite;
		    animation: frag 25s steps(50, end) 15s infinite;
}

#fragment5
{
		    -webkit-animation: frag 25s steps(50, end) 5s infinite;
		    animation: frag 25s steps(50, end) 20s infinite;
}

.fragment{
  color:var(--accent1dark);
  display:inline-block;
  vertical-align: bottom;
  white-space:nowrap;
  overflow:hidden;
  width:0;
}

@keyframes frag{
		    
  from { width: 0;}
  10%{width:80%;}
  20%{width:0;}
  100%{width:0;}
}

@-webkit-keyframes frag{
  from { width: 0;}
  10%{width:80%;}
  20%{width:0;}
  100%{width:0;}
}

.title{
  color: var(--light);
  font-size: 500%;
}

.project{
  height: 60vh;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
  background-color: white;
}

.linkedin_badge{
  width: 330px;
  overflow: hidden;
  border-radius: 8px;
}

.linkedin_header {
  background-color: #38434f;
  padding: 12px 20px;
  
}

.linkedin_header svg{
  width:84px;
  color: white;
}

.linkedin_body{
  text-align: center;
  background-color: #000;
  color:white;
  padding: 20px 20px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}

.linkedin_body img{
  margin:auto;
  display:block;
  height: 56px;
  border-radius: 50%;
}

.linkedin_body .name{ 
  text-align: center;
  color:white;
  text-decoration: none;
  padding:5px 0;
  font-size: medium;
}

.linkedin_body p{
  font-size: small;
  text-align: center;
}

.linkedin_body p a{
  color:white;
}

.linkedin_body .btn{
  margin:auto;
  border-radius: 24px;
  padding: 3px 16px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  color:white;
  border-color: white;
  font-family: inherit;
}

.contactform{
  width: 40%;
  margin-right: 20%;
}

.contactform input{
  all:inherit;
  color: var(--light);
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 1px solid #666;
}

.contactform input:focus{
border-bottom: 1px solid #fff;
}

.contactform textarea{
  all:inherit;
  width: 100%;
  resize: vertical;
  word-wrap: break-word;
  overflow: auto;
  min-height: 15vh;
  border-bottom: 1px solid #666;
  margin-bottom: 5%;
}

.clean_btn{
    all:inherit;
  color: var(--accent1);
}

.clean_btn:hover{
  color: var(--accent1dark);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line{
  width: 100%;
  font-family: 'Secular One', sans-serif;
  -webkit-text-fill-color: var(--light);
  -webkit-box-shadow: 0 0 0px 1000px var(--dark) inset;
  transition: background-color 5000s ease-in-out 0s;
}





#sec4 ul{
  padding-left: 1rem;
}
